
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;

}.main-1 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.main-1 .header {
  margin-bottom: 11.9rem;
  box-sizing: border-box;
  padding: 2.5rem 21.6rem 2.5rem 10.8rem;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.main-1 .header .logo {
  margin-right: 33.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.main-1 .header .logo .logo-name {
  margin-top: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-1 .header .menu-main {
  margin: 0.3rem 0rem 0.2rem 0rem;
  height: calc(100% - 0.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-1 .header .menu-main .about-me {
  margin-right: 2.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-1 .header .menu-main .curriculum {
  margin-right: 2.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-1 .header .menu-main .portifolio {
  margin-right: 2.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-1 .header .menu-main .contato-zVf {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-1 .auto-group-jmvj-R5B {
  margin: 0rem 21.5rem 18.6rem 10.8rem;
  width: calc(100% - 32.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.main-1 .auto-group-jmvj-R5B .img-person-7To {
  margin-right: 24rem;
  width: 30rem;
  height: 30rem;
  border: solid 0.8rem #ffffff;
  box-sizing: border-box;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-size: 100% 177.778%;
  background-position: 0.8305rem -6.1297rem;
  background-image: url('../assets/img-person-bg.png');
  border-radius: 15rem;
  flex-shrink: 0;
}
.main-1 .auto-group-jmvj-R5B .img-person-7To .img-person-7To-bg {
  width: 30rem;
  height: 30rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:081bb5bbc783f424e3ac4508ccfaa4f472d9178b');
}
.main-1 .auto-group-jmvj-R5B .auto-group-fhu5-Tg5 {
  margin-top: 0.9rem;
  width: 41.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-1 .auto-group-jmvj-R5B .auto-group-fhu5-Tg5 .about-me-mRs {
  margin-bottom: 4.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-1 .auto-group-jmvj-R5B .auto-group-fhu5-Tg5 .about-me-mRs .auto-group-lexj-W8Z {
  margin-bottom: 1.9rem;
  width: 32rem;
  height: 7.3rem;
  position: relative;
  flex-shrink: 0;
}
.main-1 .auto-group-jmvj-R5B .auto-group-fhu5-Tg5 .about-me-mRs .auto-group-lexj-W8Z .name-C1P {
  width: 32rem;
  height: 4.9rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-1 .auto-group-jmvj-R5B .auto-group-fhu5-Tg5 .about-me-mRs .auto-group-lexj-W8Z .occupation-rLq {
  width: 18.9rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-1 .auto-group-jmvj-R5B .auto-group-fhu5-Tg5 .about-me-mRs .text-about-me-YjT {
  max-width: 41.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #383838;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-1 .auto-group-jmvj-R5B .auto-group-fhu5-Tg5 .auto-group-g1us-f3P {
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-1 .auto-group-jmvj-R5B .auto-group-fhu5-Tg5 .auto-group-g1us-f3P .button-download-vc-PVB {
  margin-right: 6.5rem;
  width: 17.6rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1.png');
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  flex-shrink: 0;
}
.main-1 .auto-group-jmvj-R5B .auto-group-fhu5-Tg5 .auto-group-g1us-f3P .button-contact-zzm {
  width: 17.6rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #029cbe;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #029cbe;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3000000119);
  flex-shrink: 0;
}
.main-1 .links-footer-Myj {
  box-sizing: border-box;
  padding: 0.4rem 29.45rem 0.3rem 10.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(235, 235, 235, 0.6999999881);
  flex-shrink: 0;
}
.main-1 .links-footer-Myj .github-T1B {
  margin-right: 7.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-1 .links-footer-Myj .linkedln-9ub {
  margin-right: 47.05rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-1 .links-footer-Myj .coy-right-GzD {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
