
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.main-1-DXX {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .header-XHK {
    margin-bottom: 11.9rem;
    padding: 2.5rem 21.6rem 2.5rem 10.8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    box-sizing: border-box;
    width: 100%;
    flex-shrink: 0;

    .logo-zgh {
      margin-right: 33.6rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .icon-logo-vqF {
        white-space: nowrap;
        flex-shrink: 0;
        color: #ffffff;
        position: relative;
        font-size: 2.5rem;
        background-size: cover;
        height: 100%;
        box-sizing: border-box;
        padding: 0rem 0.6rem 0rem 0.9rem;
        overflow: hidden;
        font-weight: 700;
        line-height: 1.3;
        font-family: K2D, 'Source Sans Pro';
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 1.5rem;
        background-image: url('REPLACE_IMAGE:7:22');
      }
      .logo-name-fgM {
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .menu-main-Yk9 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0.3rem 0rem 0.2rem 0rem;
      height: calc(100% - 0.5rem);

      .about-me-rVw {
        margin-right: 2.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .curriculum-y4m {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
      .portifolio-UXK {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.3rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .contato-zVf {
        cursor: pointer;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-jmvj-R5B {
    margin: 0rem 21.5rem 18.6rem 10.8rem;
    width: calc(100% - 32.3rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .img-person-7To {
      background-image: url('REPLACE_IMAGE:081bb5bbc783f424e3ac4508ccfaa4f472d9178b');
      margin-right: 24rem;
      box-sizing: border-box;
      background-size: 100% 177.778%;
      background-position: 0.8305rem -6.1297rem;
      border-radius: 15rem;
      flex-shrink: 0;
      width: 30rem;
      height: 30rem;
      border: solid 0.8rem #ffffff;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .img-person-7To-bg {
        background-image: url('REPLACE_IMAGE:081bb5bbc783f424e3ac4508ccfaa4f472d9178b');
        width: 30rem;
        height: 30rem;
        position: relative;
      }
    }
    .auto-group-fhu5-Tg5 {
      flex-shrink: 0;
      margin-top: 0.9rem;
      width: 41.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .about-me-mRs {
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 4.7rem;
        width: 100%;
        display: flex;

        .auto-group-lexj-W8Z {
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          width: 32rem;
          height: 7.3rem;
          position: relative;

          .name-C1P {
            font-size: 4rem;
            font-weight: 400;
            width: 32rem;
            height: 4.9rem;
            position: absolute;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            left: 0;
            top: 2.4rem;
            line-height: 1.2125;
          }
          .occupation-rLq {
            color: #000000;
            width: 18.9rem;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            height: 2.5rem;
            white-space: nowrap;
          }
        }
        .text-about-me-YjT {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #383838;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 41.7rem;
        }
      }
      .auto-group-g1us-f3P {
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .button-download-vc-PVB {
          font-weight: 400;
          display: flex;
          background-position: center;
          background-image: url('REPLACE_IMAGE:7:72');
          border-radius: 2rem;
          flex-shrink: 0;
          justify-content: center;
          margin-right: 6.5rem;
          width: 17.6rem;
          height: 100%;
          color: #ffffff;
          align-items: center;
          background-size: cover;
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          background-repeat: no-repeat;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .button-contact-zzm {
          font-size: 2rem;
          display: flex;
          background-color: #ffffff;
          cursor: pointer;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 2rem;
          flex-shrink: 0;
          height: 100%;
          color: #029cbe;
          justify-content: center;
          box-sizing: border-box;
          width: 17.6rem;
          line-height: 1.2125;
          white-space: nowrap;
          align-items: center;
          border: solid 0.1rem #029cbe;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3000000119);
        }
      }
    }
  }
  .links-footer-Myj {
    background-color: rgba(235, 235, 235, 0.6999999881);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.4rem 29.45rem 0.3rem 10.8rem;
    width: 100%;
    display: flex;
    align-items: center;

    .github-T1B {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 7.6rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .linkedln-9ub {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 47.05rem;
    }
    .coy-right-GzD {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
