* {
  margin: 0;
  padding: 0;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

/*      CLASSES AND IDS     */
.container {
  margin: 5px;
}

/*      SIDE BAR        */
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #f1f1f1;
  float: block;
  float: left;
  padding: 20px;
}

.sidebar a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: green;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.sidebar a:hover {
  color: greenyellow;
}

/*Main text of the page*/
#text-about-page {
  text-align: justify;
}

/*  GRAPHIC AND LIST */
.sideBySide {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 10px;
}

/*      button on list  */
table a {
  width: 20px;
  height: 10px;
  text-decoration: none;
  padding: 5px;
  border-radius: 2px;
}

.form-left {
  display: flex;
  flex-direction: column;
}
.form-right{
  display: flex;
  flex-direction: column;
}
.mb-3 {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.container-list {
  width: 200px;
  height: 100px;
  color: red;
  border-color: black;
}

